{
	"swagger": "2.0",
	"schemes": [
		"https"
	],
	"host": "trello.com",
	"basePath": "/1",
	"x-exosite-health-path": "/,",
	"x-hasEquivalentPaths": true,
	"info": {
		"contact": {
			"name": "Trello",
			"url": "https://trello.com/home"
		},
		"description": "This document describes the REST API of Trello as published by Trello.com.\n - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>\n - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>",
		"title": "Trello",
		"version": "1.0",
		"x-apisguru-categories": [
			"collaboration"
		],
		"x-providerName": "trello.com",
		"x-unofficialSpec": true
	},
	"externalDocs": {
		"url": "https://developers.trello.com"
	},
	"securityDefinitions": {
		"api_key": {
			"in": "query",
			"name": "key",
			"type": "apiKey"
		},
		"api_token": {
			"in": "query",
			"name": "token",
			"type": "apiKey"
		}
	},
	"paths": {
		"/cards": {
			"post": {
				"operationId": "addCards",
				"parameters": [
					{
						"description": "Attributes of \"Cards\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCards()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}": {
			"delete": {
				"operationId": "deleteCardsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsByIdCard()",
				"tags": [
					"card"
				]
			},
			"get": {
				"operationId": "getCardsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization",
						"in": "query",
						"name": "actions",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "actions_entities",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "actions_display",
						"required": false,
						"type": "string"
					},
					{
						"default": "50",
						"description": "a number from 0 to 1000",
						"in": "query",
						"name": "actions_limit",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: data, date, idMemberCreator or type",
						"in": "query",
						"name": "action_fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "action_memberCreator_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "A boolean value or &quot;cover&quot; for only card cover attachments",
						"in": "query",
						"name": "attachments",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url",
						"in": "query",
						"name": "attachment_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "members",
						"required": false,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "member_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "membersVoted",
						"required": false,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "memberVoted_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "checkItemStates",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: idCheckItem or state",
						"in": "query",
						"name": "checkItemState_fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "none",
						"description": "One of: all or none",
						"in": "query",
						"name": "checklists",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: idBoard, idCard, name or pos",
						"in": "query",
						"name": "checklist_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "board",
						"required": false,
						"type": "string"
					},
					{
						"default": "name, desc, descData, closed, idOrganization, pinned, url and prefs",
						"description": "all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url",
						"in": "query",
						"name": "board_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "list",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: closed, idBoard, name, pos or subscribed",
						"in": "query",
						"name": "list_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "stickers",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: image, imageScaled, imageUrl, left, rotate, top or zIndex",
						"in": "query",
						"name": "sticker_fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idBoard, idChecklists, idLabels, idList, idMembers, idShort, idAttachmentCover, manualCoverAttachment, labels, name, pos, shortUrl and url",
						"description": "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsByIdCard()",
				"tags": [
					"card"
				]
			},
			"put": {
				"operationId": "updateCardsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/actions": {
			"get": {
				"operationId": "getCardsActionsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "entities",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "display",
						"required": false,
						"type": "string"
					},
					{
						"default": "commentCard and updateCard:idList",
						"description": "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization",
						"in": "query",
						"name": "filter",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: data, date, idMemberCreator or type",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "50",
						"description": "a number from 0 to 1000",
						"in": "query",
						"name": "limit",
						"required": false,
						"type": "string"
					},
					{
						"default": "list",
						"description": "One of: count, list or minimal",
						"in": "query",
						"name": "format",
						"required": false,
						"type": "string"
					},
					{
						"description": "A date, null or lastView",
						"in": "query",
						"name": "since",
						"required": false,
						"type": "string"
					},
					{
						"description": "A date, or null",
						"in": "query",
						"name": "before",
						"required": false,
						"type": "string"
					},
					{
						"default": "0",
						"description": "Page * limit must be less than 1000",
						"in": "query",
						"name": "page",
						"required": false,
						"type": "string"
					},
					{
						"description": "Only return actions related to these model ids",
						"in": "query",
						"name": "idModels",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "member",
						"required": false,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "member_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": " true or false",
						"in": "query",
						"name": "memberCreator",
						"required": false,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "memberCreator_fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsActionsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/actions/comments": {
			"post": {
				"operationId": "addCardsActionsCommentsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Actions Comments\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/actions_comments"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsActionsCommentsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/actions/{idAction}/comments": {
			"delete": {
				"description": "This can only be done by the original author of the comment, or someone with higher permissions than the original author.",
				"operationId": "deleteCardsActionsCommentsByIdCardByIdAction",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idAction",
						"in": "path",
						"name": "idAction",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsActionsCommentsByIdCardByIdAction()",
				"tags": [
					"card"
				]
			},
			"put": {
				"description": "This can only be done by the original author of the comment.",
				"operationId": "updateCardsActionsCommentsByIdCardByIdAction",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idAction",
						"in": "path",
						"name": "idAction",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Actions Comments\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_actions_comments"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsActionsCommentsByIdCardByIdAction()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/attachments": {
			"get": {
				"operationId": "getCardsAttachmentsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "A boolean value or &quot;cover&quot; for only card cover attachments",
						"in": "query",
						"name": "filter",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsAttachmentsByIdCard()",
				"tags": [
					"card"
				]
			},
			"post": {
				"operationId": "addCardsAttachmentsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Attachments\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_attachments"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsAttachmentsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/attachments/{idAttachment}": {
			"delete": {
				"operationId": "deleteCardsAttachmentsByIdCardByIdAttachment",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idAttachment",
						"in": "path",
						"name": "idAttachment",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsAttachmentsByIdCardByIdAttachment()",
				"tags": [
					"card"
				]
			},
			"get": {
				"operationId": "getCardsAttachmentsByIdCardByIdAttachment",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idAttachment",
						"in": "path",
						"name": "idAttachment",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsAttachmentsByIdCardByIdAttachment()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/board": {
			"get": {
				"operationId": "getCardsBoardByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsBoardByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/board/{field}": {
			"get": {
				"operationId": "getCardsBoardByIdCardByField",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "field",
						"in": "path",
						"name": "field",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsBoardByIdCardByField()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checkItemStates": {
			"get": {
				"operationId": "getCardsCheckItemStatesByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: idCheckItem or state",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsCheckItemStatesByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklistCurrent}/checkItem/{idCheckItem}": {
			"put": {
				"operationId": "updateCardsChecklistCheckItemByIdCardByIdChecklistCurrentByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklistCurrent",
						"in": "path",
						"name": "idChecklistCurrent",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklist Id Checklist Current Check Item\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklist_idChecklistCurrent_checkItem"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsChecklistCheckItemByIdCardByIdChecklistCurrentByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem": {
			"post": {
				"operationId": "addCardsChecklistCheckItemByIdCardByIdChecklist",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklist Check Item\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklist_checkItem"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsChecklistCheckItemByIdCardByIdChecklist()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}": {
			"delete": {
				"operationId": "deleteCardsChecklistCheckItemByIdCardByIdChecklistByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsChecklistCheckItemByIdCardByIdChecklistByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}/convertToCard": {
			"post": {
				"operationId": "addCardsChecklistCheckItemConvertToCardByIdCardByIdChecklistByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsChecklistCheckItemConvertToCardByIdCardByIdChecklistByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}/name": {
			"put": {
				"operationId": "updateCardsChecklistCheckItemNameByIdCardByIdChecklistByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklist Check Item Name\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklist_checkItem_name"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsChecklistCheckItemNameByIdCardByIdChecklistByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}/pos": {
			"put": {
				"operationId": "updateCardsChecklistCheckItemPosByIdCardByIdChecklistByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklist Check Item Pos\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklist_checkItem_pos"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsChecklistCheckItemPosByIdCardByIdChecklistByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}/state": {
			"put": {
				"operationId": "updateCardsChecklistCheckItemStateByIdCardByIdChecklistByIdCheckItem",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "idCheckItem",
						"in": "path",
						"name": "idCheckItem",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklist Check Item State\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklist_checkItem_state"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsChecklistCheckItemStateByIdCardByIdChecklistByIdCheckItem()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklists": {
			"get": {
				"operationId": "getCardsChecklistsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "none",
						"description": "One of: all, closed, none, open or visible",
						"in": "query",
						"name": "cards",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url",
						"in": "query",
						"name": "card_fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "One of: all or none",
						"in": "query",
						"name": "checkItems",
						"required": false,
						"type": "string"
					},
					{
						"default": "name, nameData, pos and state",
						"description": "all or a comma-separated list of: name, nameData, pos, state or type",
						"in": "query",
						"name": "checkItem_fields",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "One of: all or none",
						"in": "query",
						"name": "filter",
						"required": false,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: idBoard, idCard, name or pos",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsChecklistsByIdCard()",
				"tags": [
					"card"
				]
			},
			"post": {
				"operationId": "addCardsChecklistsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Checklists\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_checklists"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsChecklistsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/checklists/{idChecklist}": {
			"delete": {
				"operationId": "deleteCardsChecklistsByIdCardByIdChecklist",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idChecklist",
						"in": "path",
						"name": "idChecklist",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsChecklistsByIdCardByIdChecklist()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/closed": {
			"put": {
				"operationId": "updateCardsClosedByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Closed\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_closed"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsClosedByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/desc": {
			"put": {
				"operationId": "updateCardsDescByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Desc\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_desc"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsDescByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/due": {
			"put": {
				"operationId": "updateCardsDueByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Due\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_due"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsDueByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idAttachmentCover": {
			"put": {
				"operationId": "updateCardsIdAttachmentCoverByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id Attachment Cover\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idAttachmentCover"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsIdAttachmentCoverByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idBoard": {
			"put": {
				"operationId": "updateCardsIdBoardByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id Board\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idBoard"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsIdBoardByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idLabels": {
			"post": {
				"operationId": "addCardsIdLabelsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id Labels\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idLabels"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsIdLabelsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idLabels/{idLabel}": {
			"delete": {
				"operationId": "deleteCardsIdLabelsByIdCardByIdLabel",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idLabel",
						"in": "path",
						"name": "idLabel",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsIdLabelsByIdCardByIdLabel()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idList": {
			"put": {
				"operationId": "updateCardsIdListByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id List\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idList"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsIdListByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idMembers": {
			"post": {
				"operationId": "addCardsIdMembersByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id Members\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idMembers"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsIdMembersByIdCard()",
				"tags": [
					"card"
				]
			},
			"put": {
				"operationId": "updateCardsIdMembersByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Id Members\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_idMembers"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsIdMembersByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/idMembers/{idMember}": {
			"delete": {
				"operationId": "deleteCardsIdMembersByIdCardByIdMember",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idMember",
						"in": "path",
						"name": "idMember",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsIdMembersByIdCardByIdMember()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/labels": {
			"post": {
				"operationId": "addCardsLabelsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Labels\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_labels"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsLabelsByIdCard()",
				"tags": [
					"card"
				]
			},
			"put": {
				"operationId": "updateCardsLabelsByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Labels\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_labels"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsLabelsByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/labels/{color}": {
			"delete": {
				"operationId": "deleteCardsLabelsByIdCardByColor",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "color",
						"in": "path",
						"name": "color",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsLabelsByIdCardByColor()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/list": {
			"get": {
				"operationId": "getCardsListByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: closed, idBoard, name, pos or subscribed",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsListByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/list/{field}": {
			"get": {
				"operationId": "getCardsListByIdCardByField",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "field",
						"in": "path",
						"name": "field",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsListByIdCardByField()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/markAssociatedNotificationsRead": {
			"post": {
				"operationId": "addCardsMarkAssociatedNotificationsReadByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsMarkAssociatedNotificationsReadByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/members": {
			"get": {
				"operationId": "getCardsMembersByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsMembersByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/membersVoted": {
			"get": {
				"operationId": "getCardsMembersVotedByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "avatarHash, fullName, initials and username",
						"description": "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsMembersVotedByIdCard()",
				"tags": [
					"card"
				]
			},
			"post": {
				"operationId": "addCardsMembersVotedByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Members Voted\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_membersVoted"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsMembersVotedByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/membersVoted/{idMember}": {
			"delete": {
				"operationId": "deleteCardsMembersVotedByIdCardByIdMember",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idMember",
						"in": "path",
						"name": "idMember",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsMembersVotedByIdCardByIdMember()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/name": {
			"put": {
				"operationId": "updateCardsNameByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Name\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_name"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsNameByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/pos": {
			"put": {
				"operationId": "updateCardsPosByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Pos\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_pos"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsPosByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/stickers": {
			"get": {
				"operationId": "getCardsStickersByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: image, imageScaled, imageUrl, left, rotate, top or zIndex",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsStickersByIdCard()",
				"tags": [
					"card"
				]
			},
			"post": {
				"operationId": "addCardsStickersByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Stickers\" to be added.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_stickers"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "addCardsStickersByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/stickers/{idSticker}": {
			"delete": {
				"operationId": "deleteCardsStickersByIdCardByIdSticker",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idSticker",
						"in": "path",
						"name": "idSticker",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "deleteCardsStickersByIdCardByIdSticker()",
				"tags": [
					"card"
				]
			},
			"get": {
				"operationId": "getCardsStickersByIdCardByIdSticker",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idSticker",
						"in": "path",
						"name": "idSticker",
						"required": true,
						"type": "string"
					},
					{
						"default": "all",
						"description": "all or a comma-separated list of: image, imageScaled, imageUrl, left, rotate, top or zIndex",
						"in": "query",
						"name": "fields",
						"required": false,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "getCardsStickersByIdCardByIdSticker()",
				"tags": [
					"card"
				]
			},
			"put": {
				"operationId": "updateCardsStickersByIdCardByIdSticker",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "idSticker",
						"in": "path",
						"name": "idSticker",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Stickers\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_stickers"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsStickersByIdCardByIdSticker()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/subscribed": {
			"put": {
				"operationId": "updateCardsSubscribedByIdCard",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "Attributes of \"Cards Subscribed\" to be updated.",
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/cards_subscribed"
						}
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"security": [
					{
						"api_key": []
					},
					{
						"api_token": []
					}
				],
				"summary": "updateCardsSubscribedByIdCard()",
				"tags": [
					"card"
				]
			}
		},
		"/cards/{idCard}/{field}": {
			"get": {
				"operationId": "getCardsByIdCardByField",
				"parameters": [
					{
						"description": "card id or shortlink",
						"in": "path",
						"name": "idCard",
						"required": true,
						"type": "string"
					},
					{
						"description": "field",
						"in": "path",
						"name": "field",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/1/appKey/generate\"  target=\"_blank\">Generate your application key</a>",
						"in": "query",
						"name": "key",
						"required": true,
						"type": "string"
					},
					{
						"description": "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"  target=\"_blank\">Getting a token from a user</a>",
						"in": "query",
						"name": "token",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Server rejection"
					}
				},
				"summary": "getCardsByIdCardByField()",
				"tags": [
					"card"
				]
			}
		}
	}
}
