{
   "swagger":"2.0",
   "info":{
      "title":"Trello service example",
      "description":"This is an example of a basic trello service with a single operation.",
      "version":"v1",
      "contact": {
        "name": "Ryan Kucera",
        "email": "ryankucera@exosite.com"
      }
   },
"x-exosite-config-parameters" : [
  {
    "name":"api_key", 
    "description":"API key provided by Trello",
    "type":"string",
    "required": true,
    "pattern": "^[0-9a-zA-Z]{32}$"
  },
  {
    "name":"api_token", 
    "description":"API token provided by OAUTH sequence",
    "type":"string",
    "required": true,
    "pattern": "^[0-9a-zA-Z]{64}$"
  },
],
"securityDefinitions":{
  "api_key":{
    "in": "query",
    "name": "key",
    "type": "apiKey"
  },
  "api_token":{
    "in": "query",
    "name": "token",
    "type": "apiKey"
  }
},
   "basePath":"/1",
   "host":"trello.com",
   "x-healthPath": "/",
   "paths":{
      "/":{
         "get":{
            "operationId":"gethealth",
            "summary":"GET /health",
            "x-internal-use":true,
            "description":"The health check endpoint used by Pegasus to insure the service availability. This endpoint is defined in the swagger schema with the 'x-healthPath' tag.",
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object",
                     "description":"Response content"
                  }
               }
            }
         }
      },
      "/cards":{
         "get":{
            "operationId":"cards",
            "summary":"Get cards",
            "description":"This Operation gets cards.",
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object",
                     "description":"Response content"
                  }
               }
            },
            "parameters":[
            ]
         }
      }
   },
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "schemes":[
      "https"
   ]
}
